header h1 {
    background-color: #337DFF;
    margin: 0px;
}

header h2 {
    background-color: #0B5345;
    font-size: 30px;
    margin: 0px;
}

header h3 {
    background-color: #713112;
    font-size: 30px;
    margin: 0px;
}
